:root {
    --blue: #1cbbff;
    --green: #00cc10;
    --yellow: #ffca38;
    --panther-bg: #46484d;
    --shark-bg: #2b2c30;
    --greyhound-bg: #65676f;
    --tuna-bg: #383a3e;
    --koala: #85888f;
}