.date-and-time {
    justify-content: flex-start;
    height: 100%;
}

.date-and-time .item1 {
    height: 15px;
    line-height: 15px;
    margin-top: 5px;
    width: 100%;
}

.date-and-time .item2 {
    width: 100%;
    border-radius: 3px;
    background-color: var(--shark-bg);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    height: 65px;
    display: inline-flex;
    flex-flow: column nowrap;
    cursor: pointer;
    justify-content: center;
}

.date-and-time .item2:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
}

.item2 .values, .item2 .labels {
    display: inline-flex;
    flex-flow: row nowrap;
}

.item2 .values {
    font-size: 20px;
    align-items: flex-end;
    width: 100%;
    padding: 0 20px;
}

.item2 .values > div:nth-child(1), .item2 .values > div:nth-child(2) {
    white-space: nowrap;
}


.item2 .labels {
    font-size: 10px;
    align-items: flex-start;
    overflow-x: auto;
    padding: 0 20px;
}

.item2 .labels .item {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#videoPaneTimeline.live .date-and-time .item2 .values {
    color: var(--green);
}

#videoPaneTimeline.sync .date-and-time .item2 .values {
    color: var(--blue);
}

#videoPaneTimeline.replay .date-and-time .item2 .values {
    color: var(--yellow);
}

.item2 .labels > div:first-child {
  margin: 0 5px 0 14px;
}
.item2 .values > div {
  margin: 0 5px 0 5px;
}
